body {
  margin-left: 500;
  margin-right: 500;
  margin-top: 100;
  padding: 0;
  font-family: sans-serif;
}

.timeline-title{
  text-align: center;
  margin-bottom: 30px;
}

.timeline {
  border: solid 1px #ccc;
  border-radius: 20px;
  padding: 40px;
}

@media (max-width: 1000px) {
  body {
    margin: 0;
  }
}